<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gotrack</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="images/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

<style>
    a{
        
        text-decoration: none;
    }
</style>

</head>
<body>
    <div class="header header-desktop">
        
        <div class="header-1">
            <div class="logo"><img src="/images/logo.png" alt=""></div>
            <div class="title"><a style="color: black;" href="/">Gotrack</a></div>
        </div>
        <div class="header-2">
            <div class="home"><a style="color: black;" href="/">Home</a></div>
            <div class="about"><a style="color: black;" href="#section1">About</a></div>
            <div class="features"><a style="color: black;" href="#section2">Features</a></div>
        </div>
        <div class="contact_us_h">
            <button class="contact-us-btn"><a style="color: white;" href="mailto:ishanhere24810@gmail.com">Contact Us</a></button>
        </div> 
    </div>
    <div class="header-mobile">
        <nav>
            <div class="navbar">
                <div class="container nav-container">
                    <input class="checkbox" type="checkbox" name="" id="" />
                    <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </div>  
                    <div class="logo">
                        <div class="logo-mobile"><img src="/images/logo.png" alt=""></div>
                        <div class="title">Gotrack</div>
                    </div>
                    <div class="menu-items">
                        <li><a href="/">Home</a></li>
                        <li><a href="#section1">About</a></li>
                        <li><a href="mailto:ishanhere24810@gmail.com">Contact Us</a></li>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="signup-login-part">
        <div class="landing-imagee"><img src="/images/landing-image.png" alt=""></div>
        <div class="signup-login">
            <div class="heading-1">Lets Add<br>Value<br>To Your Travel</div>
            <div class="subheading-1">More Than Just Logistic Shipment</div>
            <div class="login-signup-btn">
                <div class="login-btn"><a style="color: white;" href="/SignIn"><button class="login-btn">Login</button></a></div>
                <div class="signup-btn"><a style="color: white;" href="/SignUp"><button class="signup-btn">Sign Up</button></a></div>
            </div>
        </div>
    </div>
    <div class="some-words">
            <div class="left-part"><span class="deliver-blue">Deliver</span> Your Logistic Safely And Quickly</div>
            <div class="right-part">This is the reason why you should use our services instead of using other shipping agency</div>
    </div>
    <div class="why-us-services" id="section1">
        <div class="protected container">
            <div class="why-us-logo"><img src="/images/protected.png" alt=""></div>
            <div class="why-us-title">Always protected your packages</div>
            <div class="why-us-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magn</div>
        </div>
        <div class="tracking container">
            <div class="why-us-logo"><img src="/images/protected.png" alt=""></div>
            <div class="why-us-title">You can live tracking your packages</div>
            <div class="why-us-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magn</div>
        </div>
        <div class="customer container">
            <div class="why-us-logo"><img src="/images/protected.png" alt=""></div>
            <div class="why-us-title">Our customer service will be there for you 24/7</div>
            <div class="why-us-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magn</div>
        </div>
    </div>
    <div class="how-delivery" id="section2">
        <div class="how-delivery-left">
            <div class="how-title">how do we <br><span class="deliver-blue">Deliver</span> your packages</div>
            <div class="how-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe ex molestiae fugit vel omnis accusantium, delectus temporibus perspiciatis laudantium expedita nemo repudiandae laboriosam culpa labore repellendus et, illo sequi. Amet quod aspernatur expedita cupiditate qui sunt eos, fugit dolores magni. Quisquam unde aut deleniti numquam perspiciatis quo dicta maiores.</div>
            <div class="learn-more"><button class="learn-more-btn">Learn More</button></div>
        </div>
        <div class="how-delivery-right"><img src="/images/how-delivery.png" alt=""></div>
    </div>
    <div class="real-delivery">
        <div class="real-delivery-right"><img src="/images/real-tracking.png" alt=""></div>
        <div class="real-delivery-left">
            <div class="real-title">you can <span class="deliver-blue">track</span> your packages in real time</div>
            <div class="real-description">by using our mobile application,you can track your packages quickly,easily and in real time whenever and whereever you are            </div>
            <div class="learn-more"><button class="learn-more-btn">Learn More</button></div>
        </div>
    </div>
    <div class="manage-delivery">
        <div class="manage-delivery-left">
            <div class="manage-title">manage your <br><span class="deliver-blue">Deliver</span> everywhere</div>
            <div class="manage-description">by using our mobile application,you can track your packages quickly,easily and in real time whenever and whereever you are            </div>
            <div class="learn-more"><button class="learn-more-btn">Learn More</button></div>
        </div>
        <div class="manage-delivery-right"><img src="/images/everywhere.png" alt=""></div>
    </div>

    
</body>
</html>